<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Productos - Creaciones Eduvigis</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <header class="main-header">
    <div class="container header-content">
      <div class="branding">
        <h1>Creaciones Eduvigis</h1>
        <p class="subtitulo">Hilo a hilo tejemos tu estilo</p>
      </div>
      <nav>
        <ul>
          <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
          <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
          <li><a href="{{ url_for('productos') }}">Productos</a></li>
          <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="product">
    <div class="container">
      <h2>Nuestros productos</h2>
      <div class="product-grid">
        <div class="product-item">
          <img src="{{ url_for('static', filename='img/producto1.jpg') }}" alt="Producto 1">
          <p>Tejidos infantiles</p>
        </div>
        <div class="product-item">
          <img src="{{ url_for('static', filename='img/producto2.jpg') }}" alt="Producto 2">
          <p>Goodies</p>
        </div>
        <div class="product-item">
          <img src="{{ url_for('static', filename='img/producto3.jpg') }}" alt="Producto 3">
          <p>Munecos</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Creaciones Eduvigis. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>
